<style>
  .movie-list {
    display: flex;
    flex-wrap: wrap;
  }

  .movie-card {
    margin: 10px;
    cursor: pointer;
  }

  .movie-poster {
    width: 150px;
    height: auto;
  }

  h3 {
    text-align: center;
  }
</style>